<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue/vue.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
    <div id="app">

        
        <div class="panel panel-primary">
              <div class="panel-heading">
                    <h3 class="panel-title">添加品牌</h3>
              </div>
              <div class="panel-body form-inline">
                    <label>
                        ID:
                        <input type="text" class="form-control" v-model="id">
                    </label>
                    <label>
                        品牌名称:
                        <input type="text" class="form-control" v-model="name">
                    </label>
                    <input type="button" value="添加" class="btn btn-primary" @click="add">
                    <label>
                        搜索关键词:
                        <input type="text" class="form-control" v-model="keywords">
                    </label>
              </div>

        </div>
        

        
        <table class="table table-hover table-border table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>品牌名称</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime}}</td>
                    <td>
                        <a href="javascript:;" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>

    <script>
        var vm = new Vue({
            el: "#app",
            data:{
                id: '',
                name: '',
                keywords: '',
                list:[
                    { id: 1, name: "奔驰", ctime: new Date()},
                    { id: 2, name: "宝马", ctime: new Date()}
                ]
            },
            methods:{
                add(){
                    var res={ id: this.id, name: this.name, ctime: new Date()};
                    this.list.push(res);
                    this.id=null;
                    this.name=null;
                },
                del(id){
                    // 分析：
                    // 1、根据ID找到索引
                    // 2、如果找到索引了，直接调用数组的splice方法
                    /* this.list.some((item,i)=>{
                        if(item.id == id){
                            this.list.splice(i,1);
                            return true;
                        }
                    }
                    ) */

                    var index = this.list.findIndex(item=>{
                        if(item.id == id){
                            return true;
                        }
                    });
                    this.list.splice(index,1);
                },
                search(keywords){
                    /* var newList = [];
                    this.list.forEach(item => {
                        if(item.name.indexOf(keywords) != -1 ){
                            newList.push(item);
                        }
                    })
                    return newList;  */
                    return this.list.filter(item => {
                        // if(item.name.indexOf(keywords) != -1)
                        // 注意： ES6中，为字符串提供了一个新方法，叫做String.prototype.includes
                        if(item.name.includes(keywords)){
                            return item;
                        }
                    })
                }
            }
        });

        // 过滤器的定义语法
    </script>
</body>
</html>


<!-- 过滤器调用时候的格式   {{ name| nameope}}  -->